.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  height: 55vw;
  width: 55vw;
  max-height: 400px;
  max-width: 400px;
}

.favorites {
  background-color: lightgray;
}

.favorites>div {
  display: flex;
  /* flex-direction: row; */
}
.favorites * {
  padding: 0.5em;
}

.favorites img {
  height: 55vw;
  width: 55vw;
  max-height: 400px;
  max-width: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
}
div.carousel-indicators {
  display: none;
}

button {
  margin: 10px 0;
}

p {
  width: 65vw;
  margin: auto;
}

span.visually-hidden{
  display: none;
}

@media screen and (min-width: 600px) {

  .carousel-control-prev, .carousel-control-next, span.visually-hidden{
  color: black;
  display: flex;
  }

  .favorites button{
  display:none;
  margin: auto;
  }
  .favorites:hover {
    background-color: grey;
  }
  .favorites:hover button{
    display: flex;
  }

  .favorites>div {
    display: flex;
    flex-direction: row;
  }

  button {
    margin: 10px;
  }

  .carousel-indicators {
    display: flex;
    overflow: hidden;
  }
}